<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Cambio de contraseña en JazzySystemsApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body {
            font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
        }

        a.link {
            border: solid 1px #000;
            background-color: #000;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            display: block;
            width: 360px;
            text-align: center;
            padding: 10px 0;
        }

    </style>
</head>

<body>
    <h1>Cambio de contraseña en JazzySystems</h1>
    <div>Hola, <b th:text="${name}"></b> !</div>
    <p>
        Le informamos que el día <span th:text="${date}"></span> se ha cambiado la contraseña de su cuenta:
        <br /><br />
        Email address : <b th:text="${email}">email</b><br />
        <br />
        En caso de no reconocer este cambio de contraseña comuniquese con el administrador del conjunto residencial.
    </p>
    <p style="text-align: left;">
        <a class="link" href="#" th:href="${url}">Recuperar Contraseña</a>
    </p>
    <br>
    <p>
        <img src="images/logo.png" data-th-src="|cid:springLogo|" height="80" />
    </p>
    <p>
        Cordialmente, <br />
        &emsp; <em>JazzySystemsApp</em>
    </p>
</body>

</html>
